:root {
    --board-size: 400px;
}

.board {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: var(--board-size);
    width: var(--board-size);
}

.row {
    flex: 1;
    display: flex;
}

.cell {
    flex: 1;
    border: 1px solid lightgray;
}